{% extends 'base.html.twig' %}

{% block title %}Supprimer une soirée{% endblock %}

{% block body %}
    <h1>Supprimer une soirée</h1>
    <h2>Etes vous sur de vouloir supprimer ? </h2>
    {{ form(formulaire) }}
    <a class="btn btn-danger" href="{{ path("home_soiree", {"id":soiree.id}) }}"> <i class="fas fa-backward"></i> retour à la liste de soirées</a>
{% endblock %}