{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Liste des soirées</h1>

    <a class="btn btn-primary" href="{{ path("home_soiree") }}">Aller a la liste des soirées</a></li>




{% endblock %}
