{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Ajouter une soiree</h1>

    <a class="btn btn-primary" href="{{ path("AjouterSoiree") }}">Creation Soiree</a>
{% endblock %}
